Package: naville.minusblock
Name: MinusBlock
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Advanced Advertisement Blocking System
Maintainer: Naville
Author: Naville
Section: Tweaks
Version: 3.0.0-19
Installed-Size: 168
