Package: naville.minusblock
Name: MinusBlock
Depends: mobilesubstrate
Version: 5.0.0
Architecture: iphoneos-arm
Description: Advanced Advertisement Blocking System
Maintainer: Naville
Author: Naville
Section: Tweaks
